flask
flask-cors
flask-login
flask-sqlalchemy
bcrypt
psycopg2-binary
gunicorn
requests
python-dotenv 
paypalrestsdk 
pandas 
PyPDF2
flask-limiter
google-genai
flask-mail
APScheduler
redis
gevent
dnspython
flask-session
authlib
pytz